---
import PageLayout from "@/layouts/page.layout.astro";
import { Block, Seperator } from "basecamp/components";
import JoinUs from "../components/join-us.astro";
---

<PageLayout title="Our History">

    <Block.Wrapper id="our-history">
        <Block.Seperator slot="seperator">
            <Seperator loading="eager" />
        </Block.Seperator>
        <Block.Header slot="header" className="text-primary">
            Our History
        </Block.Header>
        <Block.Body slot="body" size="md">
            <p class="mb-4">
                There are 2 different versions of when the Group was formed, however,
                for commemorative dates, we have to use the official date supplied to us
                by The Scout Association.
              </p>
        
              <p class="mb-4">
                <b>Officially</b> - According to Scout Headquarters Records Department, 1st
                Ottershaw Scout Group was first registered on the 3 rd March 1939. It consisted
                then of 2 Leaders, 8 Wolf Cubs, 6 Scouts and 3 Rover Scouts.
              </p>
        
              <p class="mb-4">
                <b>Unofficially</b> - According to a brief record, the Group was started
                by the Earl of Meath and a Cub pack was running at Meath School led by Mrs
                Thomas until 1970. Between 1916 and 1918 Miss Monica Phillips, the Vicar's
                daughter, was in charge.
              </p>
        
              <p class="mb-4">
                After the First World War the Troop lapsed, but it was revived in 1926
                by Mr Brighty who became Scout Master at the age of 19. The Troop met
                and flourished first in a room at the old vicarage and then at Brook
                Hall. Meetings were also held in a barn belonging to W S Hunt of
                Ottershaw and then at the delightful District Camp Site situated at
                Anningsley Park. The Scouts were given the Freedom of the Site for
                training purposes by the late Sir Wilfred D Vernon, JP, Chertsey
                District President.
              </p>
        
              <p class="mb-4">
                In the late 1930's, Mr W Atkin was Scout Master for a short period
                followed by Mr R Lowe who also became Rover Scout Master and later
                Assistant District Commissioner for Leader Training. Mr L T (Gig)
                Williams became Scout Master and Group Scout Master after 1942, with R
                Ottaway and M J Kingston assisting. M J Kingston became the first King's
                Scout in the Chertsey District. Mr Williams went on to become District
                Commissioner.
              </p>
        
              <p class="mb-4">
                At one time the Scout Troop was running Lyne which had strong
                connections with 1st Ottershaw. Another Ottershaw Cub Pack was in Lyne
                led by Mr Storr and Mr Boon until 1971. A long tradition was carried out
                in Lyne every year, first organised by Mr Williams, whereby the
                Ottershaw Scouts would collect donations of food from the Lyne Young
                Wives and Villagers and provide for the handicapped Scouts and boys at
                "Woodlarks" Camp in Farnham.
              </p>
        
              <p class="mb-4">
                The little wooden hut in Ottershaw Recreation ground was replaced in the
                early Seventies by a more substantial Scout Hut. This also became home
                to 1st and 2nd Ottershaw Brownies and 2nd Ottershaw Guides until their
                association decided that the hut was becoming unsafe. They moved out and
                met temporarily at the school in Fletcher Road.
              </p>
        
              <p class="mb-4">
                The Scout Group began to try to raise funds to build a new headquarters
                but this proved quite difficult as the Guiding sections were also trying
                to do the same. It was felt that if the Scouting and Guiding sections
                could combine, then all the fund raising could be consolidated and a new
                meeting place for all the sections could be built. In order for this to
                happen, it was decided to form a joint 'Scout and Guide Group' - the
                first (and to date, only) one in Runnymede District and one of only a
                few in Surrey. Hence, in 1992, the Ottershaw Scout and Guide Group
                became a reality.
              </p>
        
              <p class="mb-4">
                The Group had, by this time, taken over the organisation of the annual
                village Mayfair, which provided them with funds towards building the new
                HQ. These, together with a substantial grant received from Chertsey
                Charities and a donation from a Sheik living in Longcross, enabled us in
                1995 to go ahead with the building of the new headquarters. The council
                wanted to reclaim the piece of land where our old hut was situated but
                gave us permission to build on the site of the old youth club, about 25
                metres away, nearer to the car park.
              </p>
        
              <p class="mb-4">
                The group AGM on 19 th May 1995 saw the first group event to take place
                there and was followed by an 'official opening' in March 1996 by the
                Chief Scout, Sir Garth Morrison.
              </p>
        </Block.Body>
    </Block.Wrapper>


    <JoinUs />

</PageLayout>